body {
    background: #D5FAF9;
    
}
h1 {
    text-align: center;
}

h2 {
    color: #708090;
}
/* div */
#content {
    width: 1000px;
    height: 300px;
    background: #FFFFE0;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
}
/* link formatting */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}